body {
  background-color: #3c3f42;
  padding: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #2a292b;
}

/* Add New Expense Box Styling */
.add-expense-box {
  background-color: #ba92cc;
  padding: 20px;
  border-radius: 10px;
}

.add-expense-box .btn {
  background-color: #752a97;
}

/* Responsive layout for vertical progress bars */
.chart-container {
  display: flex;
  justify-content: space-between; /* Space between bars */
  padding: 20px;
  background-color: #b17aca; /* Dark blue-gray background */
  border-radius: 10px; /* Rounded corners */
}

.chart-container .d-flex {
  flex-direction: column;
  align-items: center;
  width: 4.5%; /* Default width of each bar, adjusts with flexbox */
}

.chart-container .progress {
  position: relative;
  width: 100%; /* Full width of container */
  height: 200px; /* Height of progress bar */
  background-color: #cbbed1; /* Light gray background */
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse; /* Ensure bar grows upward */
}

.chart-container .progress-bar {
  background-color: #272657; /* Green bar */
  width: 100%; /* Full width */
}

.chart-container .d-flex span:last-child {
  color: #ffffff; /* For months */
  font-weight: bold;
  margin-top: 10px;
  font-size: 0.8rem; /* Default font size for months */
}

/* Media query for small screens */
@media (max-width: 768px) {
  .chart-container .d-flex span:last-child {
    font-size: 0.6rem; /* Smaller font size for months */
  }
}

@media (max-width: 576px) {
  .chart-container .d-flex span:last-child {
    font-size: 0.4rem; /* Even smaller font size for very small screens */
  }
}

/* Style for individual expense items */
#expenseList .list-group-item {
  background-color: #34393f; /* Slightly lighter background */
  border: none; /* Remove default border */
  border-radius: 10px;
  padding: 12px; /* Add spacing */
}

/* Style for the date span */
#expenseList .expense-date {
  font-size: 0.9rem;
  color: #0ea5e9; /* Light blue for dates */
  font-weight: bold;
}

/* Style for the amount span */
#expenseList .expense-amount {
  font-weight: bold;
  color: #28a745; /* Green for amounts */
}

/* Style for the title span */
#expenseList .expense-title {
  text-align: right;
  color: #ffffff; /* White for titles */
}
